<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032119894537-7urj7suo8puricdss3vundeso3g1a11d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032119894537-7urj7suo8puricdss3vundeso3g1a11d</string>
	<key>API_KEY</key>
	<string>AIzaSyDDfFlkpoXrWmPhFoqYtYhw2UqwPsdnC1E</string>
	<key>GCM_SENDER_ID</key>
	<string>1032119894537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.panchenko.IChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-93dc9</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-93dc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032119894537:ios:64277bdbf578afcb38aed8</string>
</dict>
</plist>